.theme-light-green {
    --color-primary: #21743e;
    --color-bg-main: #F0F0F0;
    --color-bg-card: #FFFFFF;
    --color-bg-card-hover: #F8F8F8;

    --color-text-main: #2c2c2c;
    --color-text-secondary: #737373;

    --color-red: #ff3333;
    --color-highlight: #EFD6FF;
}